.card {
  background: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
  border-radius: 4px;
}
.card {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 16px;
}

.instrumentList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.controlsIndicator {
  margin-top: 16px;
  text-align: center;
}

.instrumentTile {
  margin-bottom: 12px;
}
.MuiSlider-root {
  width: 100% !important;
  height: 8px !important;
  background-color: #ccc !important;
  margin-top: 10px;
}

.MuiSlider-track {
  background-color: #3f51b5 !important;
}

.MuiSlider-thumb {
  background-color: #3f51b5 !important;
  border: 2px solid white !important;
}
